using BussinessLayer.Interfaces.Repositories;
using DataLayer.Models.ModuloCitas;

namespace BussinessLayer.Interfaces.Repository.ModuloCitas
{
    public interface I{{ModelName}}Repository : IGenericRepository<{{ModelName}}>
    {
    }
}